/* .debug [class^="col"]{
  border: 1px solid black;
  min-height: 100px;
} */

:root{
  --hero-bg: #1ABC9B;
}

.debug section{
  border: 1px solid blue;
  min-height: 100px;
}

ul, li, menu{
  list-style: none;
}

a{
  text-decoration: none;
}

/* LAYOUT */

/* header */

header{
  background-color: #2C3E50;
  color: white;
}

a.ms_nav_logo, .ms_nav_links li > a{
  color: white;
}

a.ms_nav_logo{
  font-size: 13px;
  font-weight: 700;
}

.ms_nav_links li > a{
  font-size: 13px;
}

/* .contact form > *{
  display: block;
} */

/* hero */

.hero{
  background-color: var(--hero-bg);
  color: white;
}

/* .ms_hero_title{
  font-size: 21px;
} */

.ms_hero_subtitle{
  font-size: 11px;
}

.ms_hero_img{
  max-height: 212px
}

.star__decoration .sd_line{
  height: 3px;
}

/* about */

.about{
  background-color: var(--hero-bg);
}

/* .ms_about_paragraph{
  column-count: 2;
} */

/* contact */

.ms_btn_contact{
  background-color: var(--hero-bg);
}

/* footer */

.foot-head{
  background-color: #39546D;
}

.foot-bottom{
  background-color: #2C3E50;
}

.foot-head, .foot-bottom{
  color: white;
}

/* media queries */

@media screen and (min-width:992px) {
  a.ms_nav_logo{
    font-size: 20px;
    font-weight: 700;
  }

  .ms_hero_subtitle{
    font-size: 20px;
  }

  /* .star__decoration .sd_line{
    width: 140px;
  } */

  .ms_hero_img{
    max-height: 256px
  }

  .ms_about_paragraph{
    column-count: 2;
  }
}

@media screen and (min-width:1400px) {
  /* .star__decoration .sd_line{
    width: 170px;
  } */
}