.debug [class^="col"]{
  border: 1px solid black;
  min-height: 100px;
}

.debug section{
  border: 1px solid blue;
  min-height: 100px
}

ul, li, menu{
  list-style: none
}

a{
  text-decoration: none;
}

/* LAYOUT */

.nav__links{
  gap: 10px;
}

