.debug [class^="col"]{
  border: 1px solid black;
  min-height: 100px;
}

.debug section{
  border: 1px solid blue;
  min-height: 100px
}

ul, li, menu{
  list-style: none
}

/* LAYOUT */

.nav__links{
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.nav__links li{

}